---
import { AccountArticles } from "../components/AccountArticles";
import Hero from "../components/Hero.astro";
import UserInfo from "../components/UserInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero title="Cuenta" description="Mirá y cambiá tu información" />

  <article class="flex flex-col gap-y-16">
    <div class="flex flex-col gap-y-6 text-lg">
      <UserInfo id="name-info" name="Nombre de usuario" />
      <UserInfo id="email-info" name="Email" />
      <UserInfo id="date-info" name="Fecha de creación" />
    </div>

    <button
      id="logout-button"
      class="w-fit px-4 py-3 clickable bg-brand-orange rounded-[4px] text-white text-3xl"
      >Cerrar sesión</button
    >
  </article>

  <AccountArticles client:load />
</Layout>

<script>
  import { SessionService } from "../services/session.service";
  import { $ } from "../utilities/$.utility";
  import { getLocaleDate } from "../utilities/get-locale-date.utility";

  function render() {
    const $name = $("#name-info");
    const $email = $("#email-info");
    const $date = $("#date-info");
    const $logoutButton = $("#logout-button");
    const user = SessionService.user;

    if (!$name || !$email || !$date || !$logoutButton || !user) return;

    const name = user.name || "Error cargando el nombre";
    const email = user.email || "Error cargando el email";
    const date = getLocaleDate(user.createdAt);

    $name.innerText = name;
    $email.innerText = email;
    $date.innerText = date;

    $logoutButton.addEventListener("click", () => {
      SessionService.delete();

      window.location.href = "/sesion";
    });
  }

  render();
  document.addEventListener("astro:after-swap", render);
</script>
