---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import RegisterForm from "../components/RegisterForm.astro";
---

<Layout>
  <Hero title="Registro" description="Creá tu cuenta" />

  <section class="w-[clamp(300px,100%,800px)]">
    <RegisterForm client:load />

    <p class="text-center text-[18px] text-gray-600 mt-4">
      ¿Tenés cuenta?
      <a href="/sesion" class="underline cursor-pointer hover:text-gray-900"
        >Inicia sesión</a
      >
    </p>
  </section>
</Layout>
