---
import Layout from "../../layouts/Layout.astro";
import { AsideArticles } from "../../components/AsideArticles";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Parámetro ID no encontrado");
}
---

<Layout>
  <article class="flex flex-col">
    <section class="flex text-2xl gap-x-5 mt-[60px]">
      <a
        id="edit-article-link"
        href={`/articulos/editar/${id}`}
        class="clickable hidden">Editar</a
      >
      <div
        id="delete-article-modal-container"
        class="fixed z-[100] bg-[#000c] w-screen h-screen inset-0 place-items-center bg-opacity-50 items-center justify-center hidden"
      >
        <div
          id="modal"
          class="bg-brand-blue p-6 rounded flex flex-col justify-between shadow-lg"
        >
          <div>
            <h2 class="text-4xl text-white font-bold mb-4">
              ¿Eliminar artículo?
            </h2>
          </div>
          <div class="flex gap-x-8">
            <button
              id="close-modal"
              class="mt-4 text-2xl bg-brand-orange clickable text-white px-4 py-2 rounded"
              >Cerrar</button
            >
            <button
              id="delete-article"
              class="mt-4 text-2xl bg-brand-red clickable text-white px-4 py-2 rounded"
              >Eliminar</button
            >
          </div>
        </div>
      </div>
      <button id="open-modal" class="clickable text-brand-red">Eliminar</button>
    </section>

    <h1
      id="article-title"
      class="text-[#0e1c40] font-title text-7xl mt-[20px] mb-[10px]"
    >
    </h1>
    <h2 id="article-description" class="text-gray-600 text-3xl mb-[15px]"></h2>
    <h3 id="article-author" class="text-gray-600 text-[18px] mb-[30px]"></h3>

    <div class="grid gap-x-10 gap-y-10 desktop:grid-cols-[2fr_1fr]">
      <article
        id="article-content"
        class="w-full h-full text-pretty text-gray-800 leading-relaxed text-2xl space-y-6 prose prose-lg prose-slate break-words overflow-x-auto"
      >
      </article>

      <AsideArticles excludeId={id} client:load />
    </div>
  </article>
</Layout>

<script>
  import { ArticlesService } from "../../services/articles.service";
  import { UsersService } from "../../services/users.service";
  import { SessionService } from "../../services/session.service";
  import { marked } from "marked";
  import { getArticleFromPath } from "../../utilities/get-id-from-path.utility";
  import { $ } from "../../utilities/$.utility";

  async function render() {
    const article = await getArticleFromPath();

    if (!article) return;

    const $editLink = $("#edit-article-link");
    const $deleteLink = document.getElementById("delete-article");
    const $title = $("#article-title");
    const $description = $("#article-description");
    const $author = $("#article-author");
    const $content = $("#article-content");
    const $modalContainer = $("#delete-article-modal-container");
    const $modal = $("#modal");
    const $openModalButton = $("#open-modal");
    const $closeModalButton = $("#close-modal");

    if (
      !$title ||
      !$description ||
      !$author ||
      !$content ||
      !$editLink ||
      !$modalContainer ||
      !$modal ||
      !$openModalButton ||
      !$closeModalButton ||
      !$deleteLink
    )
      return;

    const authorName = await UsersService.getNameOfUser(article.authorId);
    const content = await marked.parse(article.content);

    $title.innerText = article.title;
    $description.innerText = article.description;
    $author.innerText = `Por ${authorName}`;
    $content.innerHTML = content;
    $modalContainer.dataset.articleId = article.id;
    $modalContainer.dataset.authorId = article.authorId;

    const user = SessionService.user;

    if (user?.id !== article.authorId) return;

    $editLink.classList.remove("hidden");

    $openModalButton.addEventListener("click", () => {
      $modal.classList.remove("hidden");
      $modal.classList.add("grid");
    });

    $closeModalButton.addEventListener("click", () => {
      $modal.classList.add("hidden");
      $modal.classList.remove("grid");
    });

    $deleteLink.addEventListener("click", async () => {
      try {
        const success = await ArticlesService.delete(article.id);

        if (success) {
          alert("Artículo eliminado ✅");
          $modal.classList.add("hidden");
          $modal.classList.remove("grid");
          window.location.href = "/";
        } else {
          alert("Error al eliminar el artículo ❌");
        }
      } catch (error) {
        console.error(error);

        alert("Error de conexión ❌");
      }
    });
  }

  render();
  document.addEventListener("astro:after-swap", render);
</script>
