---
import ArticleInput from "../../components/ArticleInput.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="block md:hidden mt-20 text-center p-6">
    <p class="text-3xl font-semibold text-red-600">
      No puedes crear artículos desde el celular. Usa una computadora.
    </p>
  </div>

  <form class="hidden md:flex flex-col pb-[5vw] mt-[60px]" id="form">
    <ArticleInput
      placeholder="Subtítulo de tu artículo"
      maxlength="50"
      name="subtitle"
      class="text-2xl font-bold font-text mb-[20px]"
    />

    <ArticleInput
      placeholder="Título de tu artículo"
      maxlength="50"
      name="title"
      class="text-5xl font-title"
    />

    <ArticleInput
      class="mt-[20px] text-2xl mb-[30px]"
      placeholder="Descripción de tu artículo"
      name="description"
    />

    <div class="grid gap-x-10 grid-cols-[2fr_1fr]">
      <div class="flex flex-col justify-between gap-y-6">
        <div class="w-full bg-gray-100" id="editor"></div>

        <button
          id="create-article-button"
          class="w-full h-[70px] clickable bg-brand-orange rounded-[4px] text-white text-3xl"
        >
          Crear artículo
        </button>
      </div>

      <aside class="flex flex-col gap-y-5">
        <div class="w-full flex flex-col gap-y-2">
          <div class="w-full max-w-md mx-auto">
            <input
              type="file"
              id="thumbnail_url"
              name="thumbnail_url"
              accept="image/*"
              class="hidden"
            />

            <label
              for="thumbnail_url"
              class="cursor-pointer w-full aspect-video rounded-md border border-gray-300 overflow-hidden flex items-center justify-center bg-gray-200"
            >
              <img
                id="thumbnail-preview"
                class="w-full h-full object-cover hidden"
                alt="Vista previa de la imagen seleccionada"
              />
              <span id="placeholder-text" class="text-gray-500 font-medium">
                Clickeá para elegir la portada del artículo
              </span>
            </label>
          </div>

          <ArticleInput
            placeholder="Breve descripción de la portada"
            name="thumbnail-alt"
            maxlength="30"
          />
        </div>
      </aside>
    </div>
  </form>
</Layout>

<script>
  // @ts-ignore
  import Editor from "@toast-ui/editor";
  import { ArticlesService } from "../../services/articles.service";
  import "@toast-ui/editor/dist/toastui-editor.css";

  const $editor = document.getElementById("editor");

  if ($editor) {
    const editor = new Editor({
      el: $editor,
      initialEditType: "markdown",
      height: "1300px",
      hideModeSwitch: true,
      previewHighlight: false,
      placeholder: "Contenido de tu artículo",
    });


    const $form = document.getElementById("form") as HTMLFormElement;
    const $thumbnailInputPlaceholder =
      document.getElementById("placeholder-text");
    const $thumbnailFileInput = document.getElementById(
      "thumbnail_url"
    ) as HTMLInputElement;
    const $thumbnailPreview = document.getElementById(
      "thumbnail-preview"
    ) as HTMLImageElement;
    const $createArticle = document.getElementById(
      "create-article-button"
    ) as HTMLButtonElement;

    if (
      $form &&
      $createArticle &&
      $thumbnailFileInput &&
      $thumbnailPreview &&
      $thumbnailInputPlaceholder
    ) {
      $thumbnailFileInput.addEventListener("change", (event) => {
        const file = (event.target as HTMLInputElement).files?.[0];
        if (file) {
          $thumbnailPreview.src = URL.createObjectURL(file);
          $thumbnailPreview.classList.remove("hidden");
          $thumbnailInputPlaceholder.classList.add("hidden");
        } else {
          $thumbnailPreview.classList.add("hidden");
          $thumbnailPreview.src = "";
          $thumbnailInputPlaceholder.classList.remove("hidden");
        }
      });

      $form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData($form);
        const title = String(formData.get("title"));
        const subtitle = String(formData.get("subtitle"));
        const description = String(formData.get("description"));
        const thumbnailAlt = String(formData.get("thumbnail_alt"));
        const thumbnailFile = $thumbnailFileInput.files?.[0];
        const content = editor.getMarkdown();

        formData.set("title", title);
        formData.set("subtitle", subtitle);
        formData.set("description", description);
        formData.set("thumbnailAlt", thumbnailAlt);

        if (thumbnailFile) {
          formData.set("thumbnailFile", thumbnailFile);
        }

        formData.set("content", content);

        try {
          const newArticle = await ArticlesService.create(formData);

          console.log("Artículo creado:", newArticle);
          alert("¡Artículo creado con éxito!");
          window.location.href = "/articulos/" + newArticle.id;
        } catch (err) {
          console.error("Error creando artículo:", err);
          alert("Error al crear el artículo");
        }
      });
    }
  }
</script>
