---
import ArticleInput from "../../../components/ArticleInput.astro";
import Layout from "../../../layouts/Layout.astro";
import { ArticlesService } from "../../../services/articles.service";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Parámetro ID no encontrado");
}

const article = await ArticlesService.getById(id);

if (article === undefined) {
  throw new Error("Artículo no encontrado");
}
---

<Layout>
  <div class="block md:hidden mt-20 text-center p-6">
    <p class="text-3xl font-semibold text-red-600">
      No puedes editar artículos desde el celular. Usa una computadora.
    </p>
  </div>

  <form class="hidden md:flex flex-col pb-[5vw] mt-[60px]" id="form">
    <ArticleInput
      placeholder="Subtítulo de tu artículo"
      maxlength="50"
      name="subtitle"
      class="text-2xl font-bold font-text mb-[20px]"
      value={article.subtitle}
    />

    <ArticleInput
      placeholder="Título de tu artículo"
      maxlength="50"
      name="title"
      class="text-5xl font-title"
      value={article.title}
    />

    <ArticleInput
      class="mt-[20px] text-2xl mb-[30px]"
      placeholder="Descripción de tu artículo"
      name="description"
      value={article.description}
    />

    <div class="grid gap-x-10 grid-cols-[2fr_1fr]">
      <div class="flex flex-col justify-between gap-y-6">
        <markdown-editor
          id="content-input"
          placeholder="Contenido del artículo..."
          autosave></markdown-editor>

        <button
          class="w-full h-[70px] clickable bg-brand-orange rounded-[4px] text-white text-3xl"
        >
          Editar artículo
        </button>
      </div>

      <aside class="flex flex-col gap-y-5">
        <div class="w-full flex flex-col gap-y-2">
          <div class="w-full max-w-md mx-auto">
            <input
              type="file"
              id="image-input"
              name="image"
              accept="image/*"
              class="hidden"
            />

            <label
              for="image-input"
              class="cursor-pointer w-full aspect-video rounded-md border border-gray-300 overflow-hidden flex items-center justify-center bg-gray-200"
            >
              <img
                id="image-preview"
                class="w-full h-full object-cover"
                alt="Vista previa de la imagen seleccionada"
                src={article.image}
              />
              <span
                id="placeholder-text"
                class="text-gray-500 font-medium hidden"
              >
                Clickeá para elegir la portada del artículo
              </span>
            </label>
          </div>
        </div>
      </aside>
    </div>
  </form>
</Layout>

<script src="../../../components/MarkdownEditor.ts"></script>

<script>
  import type { MarkdownEditor } from "../../../components/MarkdownEditor";
  import { ArticlesService } from "../../../services/articles.service";
  import { $ } from "../../../utilities/$.utility";
  import { getArticleFromPath } from "../../../utilities/get-id-from-path.utility";

  async function render() {
    const article = await getArticleFromPath();

    if (!article) return;

    const $editor = $("#content-input") as MarkdownEditor;
    const $form = $("#form") as HTMLFormElement;
    const $imageInput = $("#image-input") as HTMLInputElement;
    const $imagePreview = $("#image-preview") as HTMLImageElement;

    if (!$form || !$imageInput || !$imagePreview || !$editor)
      return;

    $editor.value = article.content;

    $imageInput.addEventListener("change", (event) => {
      const eventTarget = event.target as HTMLInputElement;
      const file = eventTarget.files?.[0];

      if (file) {
        $imagePreview.src = URL.createObjectURL(file);
        $imagePreview.classList.remove("hidden");
      } else {
        $imagePreview.classList.add("hidden");
        $imagePreview.src = "";
      }
    });

    $form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData($form);
      const image = $imageInput.files?.[0];
      const content = $editor.value;

      if (!content) {
        alert("El contenido del artículo no puede estar vacío");
        return;
      }

      if (!image) {
        alert("Debes seleccionar una imagen para la portada");
        return;
      }

      formData.set("content", content);
      formData.set("image", image);

      try {
        const newArticle = await ArticlesService.update(formData, article.id);

        window.location.href = "/articulos/" + newArticle.id;
      } catch (error) {
        console.error("Error creando artículo: ", error);

        alert("Error al crear el artículo");
      }
    });
  }

  render();
  document.addEventListener("astro:after-swap", render);
</script>
