---
import InstagramIcon from "./icons/InstagramIcon.astro";
import UserIcon from "./icons/UserIcon.astro";
---

<header
  class="w-full sticky z-20 bg-[#2a53c1] top-0 left-0 h-20 flex items-center justify-center px-4"
>
  <div
    class="w-full text-white text-2xl font-playfair-bold max-w-[1280px] min-w-[320px] flex justify-between items-center"
  >
    <nav class="flex gap-x-8">
      <a href="/">Inicio</a>
    </nav>

    <div class="flex gap-x-8">
      <a aria-label="Instagram" href="https://instagram.com" target="_blank">
        <InstagramIcon />
      </a>

      <a aria-label="Cuenta" href="/cuenta">
        <UserIcon />
      </a>
    </div>
  </div>
</header>
