---
import { INSTAGRAM } from "../configuration/information.configuration";
import HeaderLink from "./HeaderLink.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<header
  class="w-full fixed z-20 top-0 left-0 h-20 flex items-center justify-center
         bg-gradient-to-r from-brand-blue to-[#0d3ea8] drop-shadow-2xl"
>
  <div
    class="w-full gap-x-[5px] text-white mobile:px-3 desktop:px-0 text-2xl max-w-[1270px] min-w-[320px] flex desktop:justify-between items-center"
  >
    <nav class="flex items-center gap-x-[2vw]" id="header-buttons">
      <HeaderLink href="/">Inicio</HeaderLink>

      <!-- Links para usuario logueado -->
      <HeaderLink id="account-user" class="hidden" href="/cuenta" />
      <HeaderLink id="article-creator" class="hidden" href="/articulos/nuevo"
        >Crear</HeaderLink
      >

      <!-- Links para usuario no logueado -->
      <HeaderLink id="register-link" class="hidden" href="/registro"
        >Registrarse</HeaderLink
      >
      <HeaderLink id="login-link" class="hidden" href="/sesion"
        >Iniciar sesión</HeaderLink
      >
    </nav>

    <HeaderLink
      class="mobile:scale-90 desktop:scale-100"
      aria-label="Instagram"
      href={INSTAGRAM}
      target="_blank"
    >
      <InstagramIcon />
    </HeaderLink>
  </div>
</header>

<script>
  import { SessionService } from "../services/session.service";

  function renderAccount() {
    const user = SessionService.user;

    const $accountUser = document.getElementById("account-user");
    const $articleCreator = document.getElementById("article-creator");
    const $registerLink = document.getElementById("register-link");
    const $loginLink = document.getElementById("login-link");

    if (!$accountUser || !$articleCreator || !$registerLink || !$loginLink)
      return;

    if (user) {
      $accountUser.innerText = "Cuenta";
      $accountUser.classList.remove("hidden");

      if (user.role === "AUTHOR") {
        $articleCreator.classList.remove("hidden");
      } else {
        $articleCreator.classList.add("hidden");
      }

      $registerLink.classList.add("hidden");
      $loginLink.classList.add("hidden");
    } else {
      $accountUser.classList.add("hidden");
      $articleCreator.classList.add("hidden");

      $registerLink.classList.remove("hidden");
      $loginLink.classList.remove("hidden");
    }
  }

  renderAccount();
  document.addEventListener("astro:after-swap", renderAccount);
</script>
