---
import { INSTAGRAM } from "../configuration/information.configuration";
import HeaderLink from "./HeaderLink.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<header
  class="w-full fixed z-20 top-0 left-0 h-20 flex items-center justify-center
         bg-gradient-to-r from-brand-blue to-[#0d3ea8] drop-shadow-2xl"
>
  <div
    class="w-full gap-x-[5px] text-white mobile:px-3 desktop:px-0 text-2xl max-w-[1270px] min-w-[320px] flex justify-between items-center"
  >
    <nav
      class="flex items-center desktop:gap-x-[40px] mobile:gap-x-[25px]"
      id="header-buttons"
    >
      <HeaderLink href="/">Inicio</HeaderLink>

      <HeaderLink id="account-user" class="hidden" href="/cuenta"
        >Cuenta</HeaderLink
      >
      <HeaderLink id="article-creator" class="hidden" href="/articulos/nuevo"
        >Crear</HeaderLink
      >

      <HeaderLink id="register-link" class="hidden" href="/registro"
        >Registrarse</HeaderLink
      >
    </nav>

    <HeaderLink
      class="mobile:scale-90 desktop:scale-100"
      aria-label="Instagram"
      href={INSTAGRAM}
      target="_blank"
    >
      <InstagramIcon />
    </HeaderLink>
  </div>
</header>

<script>
  import { SessionService } from "../services/session.service";
  import { $ } from "../utilities/$.utility";

  function render() {
    const $articleCreator = $("#article-creator");
    const $registerLink = $("#register-link");
    const $accountUser = $("#account-user");

    if (!$accountUser || !$articleCreator || !$registerLink) return;

    const user = SessionService.user;

    if (user) {
      $accountUser.classList.remove("hidden");
      $registerLink.classList.add("hidden");

      if (user.role === "AUTHOR") {
        $articleCreator.classList.remove("hidden");
      } else {
        $articleCreator.classList.add("hidden");
      }
    } else {
      $accountUser.classList.add("hidden");
      $articleCreator.classList.add("hidden");
      $registerLink.classList.remove("hidden");
    }
  }

  render();
  document.addEventListener("astro:after-swap", render);
</script>
