---
import { INSTAGRAM } from "../configuration/information.configuration";
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<header
  class="w-full fixed z-20 top-0 left-0 mobile:h-25 desktop:h-20 flex items-center justify-center
         bg-gradient-to-r from-brand-blue to-[#0d3ea8] drop-shadow-2xl"
>
  <div
    class="w-full text-white mobile:px-6 desktop:px-0 text-2xl max-w-[1270px] min-w-[320px] flex justify-between items-center"
  >
    <nav class="flex gap-x-8">
      <a class="clickable mobile:text-4xl desktop:text-3xl" href="/">Inicio</a>
    </nav>

    <div class="flex gap-x-12" id="header-buttons">
      <div id="account-slot" class="gap-x-6 flex">

      </div>

      <a
        class="hidden clickable"
        id="article-creator"
        aria-label="Crear artículo"
        href="/articulos/nuevo"
      >
        Crear
      </a>

      <a
        class="clickable mobile:scale-125 desktop:scale-100"
        aria-label="Instagram"
        href={INSTAGRAM}
        target="_blank"
      >
        <InstagramIcon />
      </a>
    </div>
  </div>
</header>

<script>
  import { SessionService } from "../services/session.service";

  function renderAccount() {
    const user = SessionService.user;
    const $slot = document.getElementById("account-slot");
    const $articleCreator = document.getElementById("article-creator");

    if (!$slot) return;

    if (user) {
      $slot.innerHTML = `
        <a class="clickable" href="/cuenta">${user.name}</a>
      `;

      if (user.role === "AUTHOR" && $articleCreator) {
        $articleCreator.classList.remove("hidden");
      }
    } else {
      $slot.innerHTML = `
        <a class="clickable" href="/registro" aria-label="Registrarse">Registrarse</a>
        <a class="clickable" href="/sesion" aria-label="Iniciar sesión">Iniciar sesión</a>
      `;
      if ($articleCreator) $articleCreator.classList.add("hidden");
    }
  }

  renderAccount();

  document.addEventListener("astro:after-swap", renderAccount);
</script>
