<header
  class="w-full sticky z-20 bg-[#2a53c1] top-0 left-0 h-20 flex items-center justify-center px-4"
>
  <div
    class="w-full text-white text-2xl font-playfair-bold max-w-[1280px] min-w-[320px] flex justify-between items-center"
  >
    <nav class="flex gap-x-8">
      <a href="/">Inicio</a>
      <a href="/autores">Autores</a>
      <a href="/articulos">Artículos</a>
    </nav>

    <div>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
  </div>
</header>
