---
import H1 from "./H1.astro";
---

<section class="flex items-center mt-10 gap-x-7">
  <H1>NotiEvan</H1>

  <hr class="bg-[#0e1c40] w-[5px] h-[100px]" />

  <h2 class="w-[20ch] text-[#0e1c40] text-3xl">
    Descubrí lo que está pasando en el Evan
  </h2>
</section>
