---
const { title = "Título", description = "Descripción" } = Astro.props;
---

<section class="flex overflow-hidden mobile:flex-col tablet:flex-row desktop:items-center my-10 gap-x-7">
  <h1 class="text-brand-blue font-title mobile:text-8xl desktop:text-9xl mt-[15px]">{title}</h1>

  <hr class="bg-brand-blue mobile:hidden tablet:block w-[5px] h-[100px]" />

  <h2 class="w-[20ch] text-brand-blue mobile:text-2xl desktop:text-3xl">
    {description}
  </h2>
</section>
