---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>NotiEvan</title>

    <ClientRouter />
  </head>
  <body>
    <Header />

    <main class="flex mobile:px-4 desktop:px-0 pt-14 flex-col max-w-[1280px] mx-auto">
      <slot />
    </main>
  </body>
</html>
