---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>NotiEvan</title>
  </head>
  <body class="font-playfair-regular">
    <Header />

    <main class="flex flex-col w-full max-w-[1280px] mx-auto gap-y-12">
      <slot />
    </main>
  </body>
</html>
